# An index of singer.io plugins.
# File layout description:
#  - name   - what the plugin calls itself (may be different from the pip package name)
#  - source - can be: (1) anything pip accepts (generally a git reference or a pip package name)
#                     (2) for custom/non-python plugins, a path containing the word "Dockerfile" (e.g. tap-mssql.Dockerfile)
#  - alias  - if supporting multiple forks of a tap, this provides a means to differentiate

singer-taps:
  - { name: tap-adwords }
  - { name: tap-covid-19 }
  - { name: tap-dynamodb,   source: git+https://github.com/aaronsteers/tap-dynamodb@master }
  - { name: tap-exchangeratesapi, source: git+https://github.com/aaronsteers/tap-exchangeratesapi@feature/discovery } # https://github.com/singer-io/tap-exchangeratesapi/pull/8
  - { name: tap-jira }
  - { name: tap-kafka,      source: pipelinewise-tap-kafka }
  - { name: tap-mssql,      source: tap-mssql.Dockerfile }
  - { name: tap-mysql }
  - { name: tap-oracle }
  - { name: tap-pardot }
  - { name: tap-pardot,     source: git+https://github.com/dreamdata-io/tap-pardot.git@master,  alias: tap-pardot-dreamdata-io }
  - { name: tap-pardot }
  - { name: tap-postgres,   source: pipelinewise-tap-postgres }
  - { name: tap-powerbi-metadata }
  - { name: tap-s3-csv,     source: pipelinewise-tap-s3-csv }
  - { name: tap-salesforce, source: git+https://gitlab.com/meltano/tap-salesforce.git@master }
  - { name: tap-salesforce,  alias: tap-salesforce-singer }
  - { name: tap-salesforce,  alias: tap-salesforce-pw, source: pipelinewise-tap-salesforce }
  - { name: tap-sftp }
  - { name: tap-snowflake,  source: pipelinewise-tap-snowflake }
  - { name: tap-workday-raas }
  - { name: tap-zendesk }

singer-targets:
  - { name: target-csv }
  - { name: target-postgres,  source: pipelinewise-target-postgres }
  - { name: target-redshift,  source: pipelinewise-target-redshift }
  - { name: target-s3-csv,    source: pipelinewise-target-s3-csv }
  - { name: target-snowflake, source: pipelinewise-target-snowflake }

  # Custom forks with pending PRs:
  - { name: target-snowflake,  alias: target-snowflake-test, source: git+https://github.com/aaronsteers/pipelinewise-target-snowflake@feature/aaronsteers-retain-s3-files }
  - { name: target-s3-csv,     alias: target-s3-csv-test,    source: git+https://github.com/aaronsteers/pipelinewise-target-s3-csv@feat/aws-access-token }

failing-taps:

failing-targets:
